{% extends 'base.html' %}
{% block title %}Your Wallet{% endblock title %}
{% block navbar %}
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item active" aria-current="page" href="{% url 'transfer' %}">Transfer</a>
    </div>
  </div>
  <a href="/logout" class="btn btn-outline-danger">Logout</a>
{% endblock navbar %}
{% block content %}
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <h1 class="text-center">Your Wallet:</h1>
    <h1 class="text-center">{{ user.coins }}</h1>
{% endblock content %}
