{% extends 'base.html' %}
{% block title %}Your Wallet{% endblock title %}
{% block navbar %}
  <div class="navbar-nav">
    <a class="nav-link active" aria-current="page" href="{% url 'transfer' %}">Transfer</a>
  </div>
  <a href="/logout" class="btn btn-outline-danger">Logout</a>
{% endblock navbar %}
{% block content %}
  {% load humanize %}
  <br/><br/>
  <br/><br/>
  <br/><br/>
  <h1 class="text-center">Your Wallet:</h1>
  <h1 class="text-center">{{ user.coins|intcomma }}</h1>
  
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    {% for gift in user.gifts.all %}
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">{{ gift.from_usr.username }} Gave You a Gift!</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {{ gift.from_usr.username }} Gave You a Gift! Open?<br/>
          <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#m{{gift.id}}">
            Open Gift!
          </button>
        </div>
      </div>
    </div>
    <div class="modal fade" id="m{{gift.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{ gift.from_usr.username }} Gifted {{ gift.amount }} coins to You!<br/>
            <p>{{ gift.message }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a type="button" class="btn btn-primary" href="{% url 'Wallet:colgift' id=gift.id %}">Take Now!</a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock content %}
{% block js %}
<script type="text/javascript">
  window.onload = () => {
    let toasts = document.getElementsByClassName('toast')
    for(toast of toasts) {
      toast.classList.add("show");
    }
  }
</script>
{% endblock js %}
